<h3>進模型前處理空值<h3>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv(r'C:\henry_Chang\final_project\model\data\ML_total_industry_lastest_v3.csv')

In [3]:
# 刪除包含空值資料
df1 = df1.dropna(subset = ['earning_per_share','stocks'])

In [4]:
# 刪除多數空值欄位
df1 = df1.drop(['other_comprehensive_income','total_comprehensive_income','parent_comprehensive_income',
                'control_comprehensive_income','non_control_comprehensive_income'],axis = 1)

In [5]:
# 欄位空值補0
values={'jointly_control_PL':0,'non_control_PL':0,'control_interest':0,'non_control_interest':0}
df1=df1.fillna(values)

In [6]:
# 補上 2012年 6113 的 total_treasury_shares (庫藏股數（母持及子持母）) 為5560
df1['total_treasury_shares'][19581] = 5560

<ipython-input-6-a0baae45c160>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['total_treasury_shares'][19581] = 5560

In [7]:
# 確認無空值
df1.isnull().sum()

company_id               0
company_name             0
year                     0
pre_tax_income           0
income_tax_expense       0
cont_oper_IL             0
discont_oper_IL          0
profit                   0
parent_PL                0
jointly_control_PL       0
non_control_PL           0
earning_per_share        0
total_assets             0
total_liabilities        0
stocks                   0
capital_reserve          0
retained_earnings        0
other_equity_interest    0
treasury_stock           0
parent_equity            0
control_interest         0
non_control_interest     0
total_equity             0
proceeds_issued          0
total_treasury_shares    0
book_value_per_share     0
cash_dividend            0
stock_dividend           0
dividend_value           0
dtype: int64

In [8]:
# 確認無重複值
df1.duplicated().sum()

0

In [9]:
df1['all_dividend']=0

In [10]:
def add_dividend(row):
    row['all_dividend'] = row['cash_dividend']+row['stock_dividend']
    return row

In [11]:
df1=df1.apply(add_dividend,axis=1)

In [12]:
df1.columns

Index(['company_id', 'company_name', 'year', 'pre_tax_income',
       'income_tax_expense', 'cont_oper_IL', 'discont_oper_IL', 'profit',
       'parent_PL', 'jointly_control_PL', 'non_control_PL',
       'earning_per_share', 'total_assets', 'total_liabilities', 'stocks',
       'capital_reserve', 'retained_earnings', 'other_equity_interest',
       'treasury_stock', 'parent_equity', 'control_interest',
       'non_control_interest', 'total_equity', 'proceeds_issued',
       'total_treasury_shares', 'book_value_per_share', 'cash_dividend',
       'stock_dividend', 'dividend_value', 'all_dividend'],
      dtype='object')

In [13]:
df1

,company_id,company_name,year,pre_tax_income,income_tax_expense,cont_oper_IL,discont_oper_IL,profit,parent_PL,jointly_control_PL,...,control_interest,non_control_interest,total_equity,proceeds_issued,total_treasury_shares,book_value_per_share,cash_dividend,stock_dividend,dividend_value,all_dividend
0,1101,台泥,2001,223575.0,33000.0,190575.0,0.0,190575.0,190575.0,0.0,...,0.0,0.0,44142550.0,0.0,0.0,16.93,0.000000,0.000000,0.000000,0.000000
1,1101,台泥,2002,316737.0,30000.0,286737.0,0.0,286737.0,286737.0,0.0,...,0.0,0.0,48046279.0,0.0,12270.0,18.17,0.100000,0.200000,0.346000,0.300000
2,1101,台泥,2003,2232182.0,470000.0,1762182.0,0.0,1762182.0,1762182.0,0.0,...,0.0,0.0,48887732.0,0.0,12515.0,18.12,0.350000,0.350000,0.990500,0.700000
3,1101,台泥,2004,4653526.0,232000.0,4421526.0,0.0,4421526.0,4421526.0,0.0,...,0.0,0.0,52105463.0,0.0,12953.0,18.63,0.700000,0.500000,1.722500,1.200000
4,1101,台泥,2005,6085844.0,309549.0,5776295.0,-72928.0,5703367.0,5703367.0,0.0,...,0.0,0.0,56420387.0,0.0,13601.0,18.94,1.405943,0.156216,1.801169,1.562159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27471,5876,上海商銀,2016,19219160.0,4107035.0,15112125.0,0.0,15112125.0,11748332.0,0.0,...,0.0,42788926.0,163022430.0,0.0,11397.0,29.56,1.500000,0.000000,1.500000,1.500000
27472,5876,上海商銀,2017,21208877.0,4589911.0,16618966.0,0.0,16618966.0,12385227.0,0.0,...,0.0,40623295.0,163033094.0,0.0,11397.0,30.09,1.800000,0.000000,1.800000,1.800000
27473,5876,上海商銀,2018,22936681.0,4575035.0,18361646.0,0.0,18361646.0,13711971.0,0.0,...,0.0,46865979.0,178021926.0,0.0,11397.0,32.07,2.000000,0.000000,2.000000,2.000000
27474,5876,上海商銀,2019,24630823.0,4906344.0,19724479.0,0.0,19724479.0,14661111.0,0.0,...,0.0,50658706.0,204226325.0,0.0,11397.0,34.35,2.050000,0.000000,2.050000,2.050000
27475,5876,上海商銀,2020,21553768.0,3739152.0,17814616.0,0.0,17814616.0,13462945.0,0.0,...,0.0,49995956.0,205099212.0,0.0,11397.0,34.70,1.700000,0.000000,1.700000,1.700000

In [14]:
df1.shape

(27457, 30)

In [16]:
df1.to_csv(r'C:\henry_Chang\final_project\model\data\ML_total_industry_lastest_v4.csv',index=False)

In [ ]:
df1.dropna?