In [1]:
import pandas as pd
import numpy as np

In [2]:
import joblib

In [3]:
xgb = joblib.load(r'./model_pkl/xgb_cash.pkl')

# 預測真實情況

In [4]:
df1 = pd.read_csv(r'C:\henry_Chang\final_project\model\data\ML_total_industry_lastest_v4.csv')

In [5]:
df1

,company_id,company_name,year,pre_tax_income,income_tax_expense,cont_oper_IL,discont_oper_IL,profit,parent_PL,jointly_control_PL,...,control_interest,non_control_interest,total_equity,proceeds_issued,total_treasury_shares,book_value_per_share,cash_dividend,stock_dividend,dividend_value,all_dividend
0,1101,台泥,2001,223575.0,33000.0,190575.0,0.0,190575.0,190575.0,0.0,...,0.0,0.0,44142550.0,0.0,0.0,16.93,0.000000,0.000000,0.000000,0.000000
1,1101,台泥,2002,316737.0,30000.0,286737.0,0.0,286737.0,286737.0,0.0,...,0.0,0.0,48046279.0,0.0,12270.0,18.17,0.100000,0.200000,0.346000,0.300000
2,1101,台泥,2003,2232182.0,470000.0,1762182.0,0.0,1762182.0,1762182.0,0.0,...,0.0,0.0,48887732.0,0.0,12515.0,18.12,0.350000,0.350000,0.990500,0.700000
3,1101,台泥,2004,4653526.0,232000.0,4421526.0,0.0,4421526.0,4421526.0,0.0,...,0.0,0.0,52105463.0,0.0,12953.0,18.63,0.700000,0.500000,1.722500,1.200000
4,1101,台泥,2005,6085844.0,309549.0,5776295.0,-72928.0,5703367.0,5703367.0,0.0,...,0.0,0.0,56420387.0,0.0,13601.0,18.94,1.405943,0.156216,1.801169,1.562159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27452,5876,上海商銀,2016,19219160.0,4107035.0,15112125.0,0.0,15112125.0,11748332.0,0.0,...,0.0,42788926.0,163022430.0,0.0,11397.0,29.56,1.500000,0.000000,1.500000,1.500000
27453,5876,上海商銀,2017,21208877.0,4589911.0,16618966.0,0.0,16618966.0,12385227.0,0.0,...,0.0,40623295.0,163033094.0,0.0,11397.0,30.09,1.800000,0.000000,1.800000,1.800000
27454,5876,上海商銀,2018,22936681.0,4575035.0,18361646.0,0.0,18361646.0,13711971.0,0.0,...,0.0,46865979.0,178021926.0,0.0,11397.0,32.07,2.000000,0.000000,2.000000,2.000000
27455,5876,上海商銀,2019,24630823.0,4906344.0,19724479.0,0.0,19724479.0,14661111.0,0.0,...,0.0,50658706.0,204226325.0,0.0,11397.0,34.35,2.050000,0.000000,2.050000,2.050000
27456,5876,上海商銀,2020,21553768.0,3739152.0,17814616.0,0.0,17814616.0,13462945.0,0.0,...,0.0,49995956.0,205099212.0,0.0,11397.0,34.70,1.700000,0.000000,1.700000,1.700000

In [6]:
df1.shape

(27457, 30)

In [7]:
df_predict = df1[df1['year']==2020].sort_values('company_id')
df_predict

,company_id,company_name,year,pre_tax_income,income_tax_expense,cont_oper_IL,discont_oper_IL,profit,parent_PL,jointly_control_PL,...,control_interest,non_control_interest,total_equity,proceeds_issued,total_treasury_shares,book_value_per_share,cash_dividend,stock_dividend,dividend_value,all_dividend
19,1101,台泥,2020,35353306.0,7361913.0,27991393.0,0.0,27991393.0,25099309.0,0.0,...,0.0,14758236.0,218830053.0,0.0,11522.0,34.41,3.368120,0.0,3.368120,3.368120
39,1102,亞泥,2020,24143883.0,5370076.0,18773807.0,0.0,18773807.0,14710486.0,0.0,...,0.0,22118393.0,169886952.0,0.0,0.0,43.96,3.462838,0.0,3.462838,3.462838
59,1103,嘉泥,2020,2106042.0,269547.0,1836495.0,1499.0,1837994.0,1764366.0,0.0,...,0.0,835202.0,25017349.0,0.0,131805.0,37.61,1.400000,0.0,1.400000,1.400000
79,1104,環泥,2020,1297514.0,37719.0,1259795.0,0.0,1259795.0,1247252.0,0.0,...,0.0,129126.0,18785353.0,0.0,0.0,28.54,1.100000,0.0,1.100000,1.100000
99,1108,幸福,2020,444408.0,52139.0,392269.0,0.0,392269.0,392269.0,0.0,...,0.0,74.0,4656919.0,0.0,0.0,11.51,0.700000,0.0,0.700000,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26606,9951,皇田,2020,609024.0,107919.0,501105.0,0.0,501105.0,501105.0,0.0,...,0.0,0.0,3100358.0,0.0,0.0,41.39,4.700000,0.0,4.700000,4.700000
26625,9955,佳龍,2020,-123733.0,-430.0,-123303.0,0.0,-123303.0,-123299.0,0.0,...,0.0,222.0,1589279.0,0.0,0.0,15.40,0.000000,0.0,0.000000,0.000000
26644,9958,世紀鋼,2020,1476572.0,303575.0,1172997.0,0.0,1172997.0,935156.0,0.0,...,0.0,2382867.0,9336956.0,0.0,0.0,31.87,4.000000,0.0,4.000000,4.000000
26663,9960,邁達康,2020,60269.0,12922.0,47347.0,0.0,47347.0,47347.0,0.0,...,0.0,0.0,481994.0,0.0,0.0,14.35,1.000000,0.0,1.000000,1.000000
26682,9962,有益,2020,1011.0,-181.0,1192.0,0.0,1192.0,1192.0,0.0,...,0.0,0.0,938258.0,0.0,0.0,10.40,0.000000,0.0,0.000000,0.000000

In [8]:
df_company_id=df_predict
df_company_id_name= df_company_id.iloc[:,:3]
df_company_id_name

       company_id company_name  year
19           1101           台泥  2020
39           1102           亞泥  2020
59           1103           嘉泥  2020
79           1104           環泥  2020
99           1108           幸福  2020
...           ...          ...   ...
26606        9951           皇田  2020
26625        9955           佳龍  2020
26644        9958          世紀鋼  2020
26663        9960          邁達康  2020
26682        9962           有益  2020

[1737 rows x 3 columns]

In [9]:
df_predict_cash_dividend = df_predict.iloc[:,-4:-3]
df_predict_cash_dividend

       cash_dividend
19          3.368120
39          3.462838
59          1.400000
79          1.100000
99          0.700000
...              ...
26606       4.700000
26625       0.000000
26644       4.000000
26663       1.000000
26682       0.000000

[1737 rows x 1 columns]

In [10]:
df_predict = df_predict.iloc[: , 3:]
del df_predict['all_dividend']
del df_predict['stock_dividend']
del df_predict['dividend_value']
df_predict

,pre_tax_income,income_tax_expense,cont_oper_IL,discont_oper_IL,profit,parent_PL,jointly_control_PL,non_control_PL,earning_per_share,total_assets,...,other_equity_interest,treasury_stock,parent_equity,control_interest,non_control_interest,total_equity,proceeds_issued,total_treasury_shares,book_value_per_share,cash_dividend
19,35353306.0,7361913.0,27991393.0,0.0,27991393.0,25099309.0,0.0,2892084.0,4.32,389506236.0,...,21146991.0,-499691.0,204071817.0,0.0,14758236.0,218830053.0,0.0,11522.0,34.41,3.368120
39,24143883.0,5370076.0,18773807.0,0.0,18773807.0,14710486.0,0.0,4063321.0,4.70,297086855.0,...,1078007.0,0.0,147768559.0,0.0,22118393.0,169886952.0,0.0,0.0,43.96,3.462838
59,2106042.0,269547.0,1836495.0,1499.0,1837994.0,1764366.0,0.0,73628.0,2.74,40646227.0,...,4939214.0,-1119023.0,24182147.0,0.0,835202.0,25017349.0,0.0,131805.0,37.61,1.400000
79,1297514.0,37719.0,1259795.0,0.0,1259795.0,1247252.0,0.0,12543.0,1.91,24102936.0,...,538530.0,0.0,18656227.0,0.0,129126.0,18785353.0,0.0,0.0,28.54,1.100000
99,444408.0,52139.0,392269.0,0.0,392269.0,392269.0,0.0,0.0,0.97,8027307.0,...,4455.0,0.0,4656845.0,0.0,74.0,4656919.0,0.0,0.0,11.51,0.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26606,609024.0,107919.0,501105.0,0.0,501105.0,501105.0,0.0,0.0,6.69,5343825.0,...,-139134.0,0.0,3100358.0,0.0,0.0,3100358.0,0.0,0.0,41.39,4.700000
26625,-123733.0,-430.0,-123303.0,0.0,-123303.0,-123299.0,0.0,-4.0,-1.19,2882000.0,...,-15702.0,0.0,1589057.0,0.0,222.0,1589279.0,0.0,0.0,15.40,0.000000
26644,1476572.0,303575.0,1172997.0,0.0,1172997.0,935156.0,0.0,237841.0,4.38,17207745.0,...,-60996.0,0.0,6954089.0,0.0,2382867.0,9336956.0,0.0,0.0,31.87,4.000000
26663,60269.0,12922.0,47347.0,0.0,47347.0,47347.0,0.0,0.0,1.41,806529.0,...,-35845.0,0.0,481994.0,0.0,0.0,481994.0,0.0,0.0,14.35,1.000000
26682,1011.0,-181.0,1192.0,0.0,1192.0,1192.0,0.0,0.0,0.01,1117237.0,...,-693.0,0.0,938258.0,0.0,0.0,938258.0,0.0,0.0,10.40,0.000000

In [11]:
X = df_predict.iloc[:,:-1].values
y= df_predict.iloc[:,-1].values

# X特徵集 y預測的東西放到y裡面

In [12]:
predict= xgb.predict(X)
predict

array([ 3.0186746 ,  3.431151  ,  1.4239833 , ...,  3.2612548 ,
        0.8957836 , -0.01970168], dtype=float32)

In [13]:
df_predict=pd.concat([df_company_id_name,df_predict_cash_dividend],axis=1)

In [14]:
df_predict

       company_id company_name  year  cash_dividend
19           1101           台泥  2020       3.368120
39           1102           亞泥  2020       3.462838
59           1103           嘉泥  2020       1.400000
79           1104           環泥  2020       1.100000
99           1108           幸福  2020       0.700000
...           ...          ...   ...            ...
26606        9951           皇田  2020       4.700000
26625        9955           佳龍  2020       0.000000
26644        9958          世紀鋼  2020       4.000000
26663        9960          邁達康  2020       1.000000
26682        9962           有益  2020       0.000000

[1737 rows x 4 columns]

In [15]:
df_predict['cash_dividend_new'] = list(predict)

In [16]:
df_predict.reset_index(drop=True, inplace=True)

In [17]:
df_predict

      company_id company_name  year  cash_dividend  cash_dividend_new
0           1101           台泥  2020       3.368120           3.018675
1           1102           亞泥  2020       3.462838           3.431151
2           1103           嘉泥  2020       1.400000           1.423983
3           1104           環泥  2020       1.100000           1.176549
4           1108           幸福  2020       0.700000           0.466247
...          ...          ...   ...            ...                ...
1732        9951           皇田  2020       4.700000           4.499861
1733        9955           佳龍  2020       0.000000          -0.004456
1734        9958          世紀鋼  2020       4.000000           3.261255
1735        9960          邁達康  2020       1.000000           0.895784
1736        9962           有益  2020       0.000000          -0.019702

[1737 rows x 5 columns]

In [18]:
df_predict.to_csv(r'C:\henry_Chang\final_project\model\data\predict_cash.csv',index=False)